.shopItem_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 90vw;
    list-style-type: none;
    flex-wrap: wrap;
}

.loading{
    position: relative;
    font-size: 20px;
    margin-top:20px;
    margin-left: 40%;
    padding: 24px;
    width: 100vw;

    height: 50vw;
}

.shopItem_container li {
    flex: 1 1 32rem;
    max-width: 38%;
    min-width: 30%;
    padding: 0;
    margin: 5%;
    
}

.ShopItem{
    position: relative;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
}





.Image {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.Image img {   
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: 0.5s ease-in-out;
}

.Image:hover img {
    transform:scale(1.2);
}





.Btn { 
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgb(207, 150, 76);
    width: 60% ;
    height: 50px;
    font-size: 1.2rem;
    background-color: burlywood;
    padding: 24px;
    margin: auto;
    box-shadow:  1px 3px 6px darkgrey ;
}



.productInfo_Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5%;
    margin: 2%;
    border: black dotted 2px;
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}


.productInfo_Container:hover{
    
    box-shadow:0px 0px 0px 10px rgb(255, 239, 218) ;
    background-color: rgb(255, 239, 218);
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
}

.productInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: auto;
    border-bottom:  black 2px solid;
}
.cart_Icon{
    display: flex;
    justify-content: flex-end;
    margin: 2%;
    padding: 0;
    border-radius: none;
    top: auto;
    left: auto;
}


.flourType_Container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flourType_Container div{
    padding: 10%;

}

.price { 
    display: flex;
    color: burlywood;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10%; 
    margin: 0;
}

.price_modal{
    display: flex;
    color: burlywood;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 8px; 
    margin-top: 5%;
    font-size: xx-large;
}


.amountControlContainer {
    color: burlywood;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5% 10%;
    margin: auto;
}
.close_btn{
    z-index: 1000;
    position: absolute;
    top: 2%;
    right: 2%;
    border: none;
    margin: 2%;
    padding: 0;
    max-width: 20px;
    max-height: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.close_btn_bar1{
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: rgb(20, 20, 20);
    -ms-transform: skew(45deg, -45deg ) ; /* IE 9 */
    transform: skew(45deg, -45deg); 
    transition: background-color 0.3s linear;
}
.close_btn_bar2{
    position: absolute;
    width:  20px;
    height: 3px;
    background-color: rgb(20, 20, 20);
    -ms-transform: skew(-45deg, 45deg ); /* IE 9 */
    transform: skew(-45deg, 45deg ); 
    transition: background-color 0.3s linear;
    transition-delay: 0.2s;
}

.close_btn:hover div{
    background-color: tomato;
}


.modal_container{
    overflow: hidden;
}

.Image_modal_container{
    max-width: 50%;
    max-height: auto;
}

.Image_modal{
    position: relative;
    padding: 0;
    margin-top: 6.5% ;
    margin-left: 5%;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.ShopItem_details{
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap ;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
}
.ShopItem_details_discription{
    padding:0;
    margin:  2.5% 2.5% 0% 0%;
    width: 40%;  
    position: relative;
    display: flex;
    flex-wrap: wrap ;
    
   
}

